@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black font-body px-5 text-white select-none;
  }
}
@layer components {
  .page-container {
    max-width: 1200px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 260px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  .similar-movie .swiper-slide {
    width: 260px;
    height: auto;
  }
}
